<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>services</title>
    <script type="text/javascript" src="/wwwroot/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .service {
            display: inline-block;
            width: 430px;
            border: 1px solid #dce0e6;
        }
    </style>
</head>
<body>

<div class="head">
    <ul>
        <li><a href="###">Services</a></li>
        <li><a href="###">Nodes</a></li>
        <li><a href="###">Clusters</a></li>
    </ul>
</div>
<div class="nav">
    <ul>
        <li><a href="###">Clusters</a></li>
    </ul>
</div>
<div class="filter">

</div>
<div class="services">
    <div class="service">
        <div>Name</div>
        <div>4 5 6</div>
        <div>Tag</div>
    </div>
    <div class="service">
        <div>Name</div>
        <div>4 5 6</div>
        <div>Tag</div>
    </div>
    <div class="service">
        <div>Name</div>
        <div>4 5 6</div>
        <div>Tag</div>
    </div>
    <div class="service">
        <div>Name</div>
        <div>4 5 6</div>
        <div>Tag</div>
    </div>
</div>
<div id="app">
    {{message}}
</div>
<div class="console-info">

</div>
</body>
</html>
<script>
    $(function () {
        let socket = new WebSocket("ws://localhost:6001/ws");
        console.log("Socket Connect Success");

        socket.onopen = function () {
            $(".console-info").text("Socket Open Success");
            console.log("");
        };

        socket.onmessage = function (msg) {
            console.log(msg.data)
            $(".console-info").text("dddd")
        }

        // socket.onclose = function () {
        //     console.log("Socket Close Success");
        // }
        //
    });
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    });
</script>