<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>services</title>
    <script type="text/javascript" src="/wwwroot/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/wwwroot/vue.js"></script>
    <script type="text/javascript" src="/wwwroot/axios.min.js"></script>
    <style>
        .service {
            display: inline-block;
            width: 430px;
            border: 1px solid #dce0e6;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="services">
        <div class="service" v-for="service in services">
            <div>{{service.Name}}</div>
            <div>{{service.Url}}</div>
            <div class="nodes" v-for="node in service.Nodes">
                <div>{{node.Name}}</div>
                <div>{{node.Address}}</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    let app = new Vue({
        el: '#app',
        created: function () {
            console.log("vue created~")
        },
        data: {
            message: 'Hello Vue!',
            data: "this a data",
            services: []
        },
        mounted:function(){
            this.getData()
        },
        methods: {
            getData() {
                axios({
                    method: 'get',
                    url: '/api/cluster/getData'
                }).then(function (resp) {
                    console.log(JSON.stringify(resp.data.data.Services))
                    app.services = resp.data.data.Services
                }).catch(resp => {
                    console.log('请求失败：' + resp.status + ',' + resp.statusText);
                });
            }
        }
    });
    $(function () {
        let socket = new WebSocket("ws://10.41.69.40:6001/ws");
        console.log("Socket Connect Success");

        socket.onopen = function () {
            $(".console-info").text("Socket Open Success");
            console.log("bar");
        };

        socket.onmessage = function (msg) {
            console.log(msg.data)
            $(".console-info").text("foo")
        }

        // socket.onclose = function () {
        //     console.log("Socket Close Success");
        // }
        //
    });
</script>