<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script type="text/javascript" src="/wwwroot/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/wwwroot/vue.js"></script>
    <script type="text/javascript" src="/wwwroot/axios.min.js"></script>
    <script type="text/javascript" src="/wwwroot/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/wwwroot/css/index.css">
</head>
<body>
<div id="index-app" class="index">
    <div>
        <p class="content-title">数据面板</p>
        <p><label>数据描述：</label><label>{{shareData.Description}}</label></p>
        <p><label>当前节点：</label><label>{{ownData.Address}}</label></p>
        <div class="clusters">
            <p class="clusters-title">主控集群</p>
            <div class="cluster" v-for="cluster in shareData.Clusters">
                <div><label>节点地址：</label>{{cluster.Address}}</div>
                <div><label class="live-icon">节点名称：</label>{{cluster.Name}}</div>
                <div><label class="live-icon">节点权重：</label>{{cluster.Level}}</div>
                <div><label class="live-icon">节点状态：</label>{{cluster.ClusterState}}</div>
                <div><label class="live-icon">指定主机：</label>{{cluster.MasterAddress}}</div>
                <div><label class="live-icon">更新时间：</label>{{cluster.FlashTag}}</div>
            </div>
        </div>
        <div class="services">
            <p class="services-title">服务集群</p>
            <div class="service" v-for="service in shareData.Services">
                <div><label>服务名：</label>{{service.Name}}</div>
                <div><label>健康度URL：</label>{{service.Url}}</div>
                <div class="node" v-for="node in service.Nodes">
                    <div><label>节点名称：</label>{{node.Name}}</div>
                    <div><label>节点地址：</label>{{node.Address}}</div>
                    <div><label class="live-icon">节点状态：</label>可用</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    let app = new Vue({
        el: '#index-app',
        data: {
            ownData: {
                MasterAddress: "",
                ClusterState: "",
                Address: ""
            },
            shareData: {
                Description: "",
                Services: [
                    {
                        Name: "",
                        Url: "",
                        Nodes: [
                            {
                                Name: "",
                                Address: "",
                                FlashTag: "."
                            }
                        ]
                    }
                ],
                Clusters: [
                    {
                        Level: "",
                        Name: "",
                        Address: "",
                        FlashTag: "."
                    }
                ],
            }
        },
        OwnObj: null,
        created: function () {
            console.log("vue created~")
        },
        beforeMount: function () {
            this.getData()
            this.getNodeInfo()
            this.nodeDataUpdater()
        },
        mounted: function () {

        },
        methods: {
            getData() {
                axios.get("/api/cluster/getData")
                    .then(function (resp) {
                        app.shareData = resp.data.data
                    }).catch(resp => {
                    console.log('请求失败：' + resp.status + ',' + resp.statusText);
                });
            },
            getNodeInfo() {
                axios.get('/api/cluster/getNodeInfo')
                    .then(function (resp) {
                        app.ownData.Address = resp.data.data.Address
                        app.ownData.ClusterState = resp.data.data.ClusterState
                        app.ownData.MasterAddress = resp.data.data.MasterAddress
                        app.socketInit()
                    }).catch(resp => {
                    console.log('请求失败：' + resp.status + ',' + resp.statusText);
                });
            },
            socketInit() {
                let socket = new WebSocket("ws://" + this.ownData.Address + "/ws");
                console.log("Socket Connect Success");
                socket.onopen = function () {
                    $(".console-info").text("Socket Open Success");
                    console.log("bar");
                };
                socket.onmessage = function (msg) {
                    console.log(msg.data)
                    $(".console-info").text("foo")
                }
            },
            nodeDataUpdater() {
                setInterval(function () {
                    for (let i = 0; i < app.shareData.Clusters.length; i++) {
                        axios.get("http://" + app.shareData.Clusters[i].Address + '/api/cluster/getNodeInfo', {timeout: 1000 * 10})
                            .then(function (resp) {
                                app.$set(
                                    app.shareData.Clusters,
                                    i,
                                    {
                                        Address: app.shareData.Clusters[i].Address,
                                        Name:resp.data.data.Name,
                                        Level:resp.data.data.Level,
                                        ClusterState: resp.data.data.ClusterState,
                                        MasterAddress: resp.data.data.MasterAddress,
                                        FlashTag: (app.shareData.Clusters[i].FlashTag == null || app.shareData.Clusters[i].FlashTag.length > 2) ? "." : (app.shareData.Clusters[i].FlashTag + ".")
                                    }
                                )
                            }).catch(resp => {
                            app.$set(
                                app.shareData.Clusters,
                                i,
                                {
                                    Address: app.shareData.Clusters[i].Address,
                                    Name:"*",
                                    Level:"*",
                                    ClusterState: "*",
                                    MasterAddress: "*",
                                    FlashTag: (app.shareData.Clusters[i].FlashTag == null || app.shareData.Clusters[i].FlashTag.length > 2) ? "." : (app.shareData.Clusters[i].FlashTag + ".")
                                }
                            )
                        })
                    }
                }, 3000)
            }
        },
    });
</script>